<!--
  APPLICATION NAME GOES HERE
  Author: 'me@elwoodberry.com'
  This code is brought to you by Elwood Berry @www.elwoodberry.com 
-->

<!-- 
  [version.01]
  PAGINATION
-->
<mat-button-toggle-group class="elwood-toggle-group" name="" aria-label="">
  <mat-button-toggle [disabled]="disabledPrevious(currentListing)">Previous</mat-button-toggle>
  <mat-button-toggle *ngFor="let listing of jsonListings; let i = index" [checked]="open(i)" (click)="toggleClick(i)">{{
    i +1 }}
  </mat-button-toggle>
  <mat-button-toggle [disabled]="disabledNext(currentListing)">Next</mat-button-toggle>
</mat-button-toggle-group>

<!-- 
  [version.03]
  LOCAL JSON DATA BINDING
-->
<app-home-card *ngFor="let listing of jsonListings" [address1]="listing.address1" [address2]="listing.address2"
  [bath]="listing.bath" [bed]="listing.bed" [broker]="listing.broker" [city]="listing.city"
  [imgBroker]="listing.imgBroker[0].url" [imgHome]="listing.imgHome[0].url" [likes]="listing.likes"
  [listingId]="listing.listingId" [new]="listing.new" [openHouseDate]="listing.openHouseDate" [price]="listing.price"
  [sqft]="listing.sqft" [sqftlot]="listing.sqftlot" [state]="listing.state[0].abbrv" [status]="listing.status"
  [url]="listing.url" [zip]="listing.zip" [miles]="listing.miles"></app-home-card>