/*
APPLICATION NAME GOES HERE
Author: 'me@elwoodberry.com'
This code is brought to you by Elwood Berry @www.elwoodberry.com 
*/

:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.elwood-toggle-group {
  width: 100%;
  margin: 15px 0;
}
