/*
APPLICATION NAME GOES HERE
Author: 'me@elwoodberry.com'
This code is brought to you by Elwood Berry @www.elwoodberry.com 
*/

:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}
